/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
html {
    font-size: 16px;
    color: #333;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
    margin: 1% auto;
    width: 100%;
    max-width: 1000rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}

main {

    margin-bottom:3rem;

}

h1 {

font-family: Oswald, sans-serif;
font-size:4rem;

}

h2 {

    font-family: Oswald, sans-serif;
    font-size:2rem;

}
h3 {
    font-size:1.5rem;
    margin-bottom:.5rem;
}

ol {

    margin-top:0;
    padding-left:0;
    list-style-type: none;
    font-size:.875rem;

}
html {
font-size: 20px;
scroll-behavior: smooth;
}

body {
margin: 0;
font-family: 'Times New Roman', Times, serif;
line-height: 1.6;
color: #000000;
background-color: #1877f2;
}

main {
max-width: 920px;
margin: auto;
padding: 10rem;
background-color: #eeeded;
}

h1, h2, h3 {
font-family: 'Times New Roman', Times, serif;
margin-top: 5.5rem;
margin-bottom: 0.5rem;
color: #111;
}

h1 {
font-size: 2.2rem;
}

h2 {
font-size: 1.6rem;
border-bottom: 2px solid #ddd;
padding-bottom: 0.3rem;
}

h3 {
font-size: 1.2rem;
color: #000000;
}

p {
margin-bottom: 1rem;
font-size: 1rem;
}

strong {
font-weight: bold;
}

em {
font-style: italic;
}

a {
color: #1877f2;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

ul, ol {
padding-left: 1.2rem;
margin-bottom: 1rem;
}

li {
margin-bottom: 0.4rem;
}

img {
max-width: 100%;
height: auto;
display: block;
margin: 1rem 0;
border-radius: 6px;
}

figure {
margin: 1rem 0;
}

figcaption {
font-size: 0.85rem;
color: #000000;
text-align: left;
}

.page-header {
background-color: #cecece;
color: white;
padding: 1rem;
text-align: center;
}
